Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
icmplib==3.0.4
Werkzeug==3.0.1
flask-socketio==5.3.2
python-socketio==5.9.0
openpyxl==3.1.2
reportlab==4.0.0
python-dotenv==1.0.1
tzdata
paramiko==2.12.0
